<div class="content-wrapper" style="min-height: 273px;">

	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Pantalla de Edicion de Proveedor</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="?s=proveedor">Proveedores</a></li>
						<li class="breadcrumb-item active">Edicion</li>
					</ol>
				</div>
			</div>


		</div>
	</div>


	<div class="content">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-12">
					<div class="card card-default card-secondary">
                        <form action="" method="post" class="form-horizontal form-label-left" id="form">
                            
                            <div class="card-header d-flex p-0">
                                <h3 class="card-title p-3"><b>Datos Generales</b></h3>
                            </div>

                            <div class="card-body">

                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="nombre">Nombre / Razón Social: <span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-9">
                                        <input name="nombre" type="text" required="required" class="form-control form-control-lg" value="{:nombre:}">
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="cuit">CUIT: <span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-9">
                                        <input name="cuit" type="text" required="required" class="form-control form-control-lg" value="{:cuit:}">
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="tipo_social">Condición Impositiva: <span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-9">
                                        <select name="tipo_social" class="form-control form-control-lg">
                                            <option value="null" {:selected:} disable>Seleccione una condicion impositiva</option>
                                        {::TIPO_SOCIAL::}
            
                                            <option value="{:id:}" {:selected:}>{:nombre:}</option>
                                        {::TIPO_SOCIAL::}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="persona_contacto">Persona de Contacto: <span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-9">
                                         <input name="persona_contacto" type="text" class="form-control form-control-lg" value="{:persona_contacto:}"> 
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="telefono_contacto">Teléfono de Contacto: <span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-9">
                                        <input name="telefono_contacto" type="text" class="form-control form-control-lg" value="{:telefono_contacto:}">
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="mail_contacto">Mail de Contacto: <span class="required">*</span></label>
                                    <div class="col-lg-6 col-md-9">
                                        <input name="mail_contacto" type="text" class="form-control form-control-lg" value="{:mail_contacto:}">
                                    </div>
                                </div>
            
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="domicilio_fiscal">Domicilio Fiscal: <span class="required">*</span></label> 
                                    <div class="col-lg-6 col-md-9">
                                        <input name="domicilio_fiscal" type="text" class="form-control form-control-lg" value="{:domicilio_fiscal:}"> 
                                    </div>
                                </div>
            
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="domicilio_real">Domicilio Real: <span class="required">*</span></label> 
                                    <div class="col-lg-6 col-md-9">
                                        <input name="domicilio_real" type="text" class="form-control form-control-lg" value="{:domicilio_real:}"> 
                                    </div>
                                </div>
                            </div>
            
                            <div class="card-header d-flex p-0">
                                <h3 class="card-title p-3"><b>Datos Bancarios</b></h3>
                            </div>
                            
                            <div class="card-body">
            
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="nro_cuenta_banco">Nro de Cuenta: </label> 
                                    <div class="col-lg-6 col-md-9">
                                        <input name="nro_cuenta_banco" type="text" class="form-control form-control-lg" value="{:nro_cuenta_banco:}"> 
                                    </div>
                                </div>
            
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="cbu_banco">CBU: </label> 
                                    <div class="col-lg-6 col-md-9">
                                        <input name="cbu_banco" type="text" class="form-control form-control-lg" value="{:cbu_banco:}"> 
                                    </div>
                                </div>
            
                                <div class="form-group row align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="banco">Banco: </label> 
                                    <div class="col-lg-6 col-md-9">
                                        <input name="banco" type="text" class="form-control form-control-lg" value="{:banco:}"> 
                                    </div>
                                </div>
            
                            </div>
                            <div class="card-header d-flex p-0">
                                <h3 class="card-title p-3"><b>Datos Impositivos</b></h3>
                            </div>
                            <div class="card-body">
                                
                                <div class="form-group row my-4 align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="condicion_impositiva">Condición Impositiva:</label>
                                    <div class="col-lg-6 col-md-9">
                                        <label class="font-weight-normal">
                                            <input type="radio" class="" name="condicion_impositiva" id="condicion_impositiva_resp" value="1"  {:condicion_impositiva_responsable:} required="" data-parsley-multiple="condicion_impositiva">
                                            Responsable Inscripto
                                        </label>
                                        <label class="ml-4 font-weight-normal">
                                            <input type="radio" class="" name="condicion_impositiva" id="condicion_impositiva_exento" value="0"  {:condicion_impositiva_exento:} required="" data-parsley-multiple="condicion_impositiva">
                                            Exento
                                        </label> 
                                        
                                    </div>
                                </div>
            
                                <div class="form-group row my-4 align-items-center">
                                    <label class="col-md-3 control-label text-left text-md-right" for="contribuyente_iibb">Contribuyente IIBB:</label>
                                    <div class="col-lg-6 col-md-9">
                                        <label class="font-weight-normal">
                                            <input type="radio" class="" name="contribuyente_iibb" id="contribuyente_iibb_local" value="1" {:contribuyente_iibb_local:} required="" data-parsley-multiple="contribuyente_iibb">
                                            Local
                                        </label>
                                        <label class="ml-4 font-weight-normal">
                                            <input type="radio" class="" name="contribuyente_iibb" id="contribuyente_iibb_convenio" value="2" {:contribuyente_iibb_convenio:} required="" data-parsley-multiple="contribuyente_iibb">
                                            Convenio
                                        </label> 
                                        <label class="ml-4 font-weight-normal">
                                            <input type="radio" class="" name="contribuyente_iibb" id="contribuyente_iibb_exento" value="0" {:contribuyente_iibb_exento:} required="" data-parsley-multiple="contribuyente_iibb">
                                            Exento
                                        </label> 
                                    </div>
                                </div>
            
                                <div class="form-group row align-items-center my-4">
                                    <label class="col-md-3 control-label text-left text-md-right" for="exencion_ganancias">Exención Ganancias:</label>
                                    <div class="col-lg-6 col-md-9">
                                        <label class="font-weight-normal">
                                            <input type="radio" class="" name="exencion_ganancias" id="exencion_ganancias_exento" {:exencion_ganancias_exento:} value="0" required="" data-parsley-multiple="exencion_ganancias">
                                            Exento
                                        </label>
                                        <label class="ml-4 font-weight-normal">
                                            <input type="radio" class="" name="exencion_ganancias" id="exencion_ganancias_noexento" {:exencion_ganancias_noexento:} value="1" required="" data-parsley-multiple="exencion_ganancias">
                                            No Exento
                                        </label> 
                                        <label class="ml-4 font-weight-normal">
                                            <input name="exencion_ganancias_porcentaje" type="text" class="form-control form-control-lg w-50 d-inline-block" value="{:exencion_ganancias_porcentaje:}"> % 
                                        </label>
                                    </div>
                                </div>
            
                                <div class="form-group row align-items-center my-4">
                                    <label class="col-md-3 control-label text-left text-md-right" for="exencion_caba">Exención CABA:</label>
                                    <div class="col-lg-6 col-md-9">
                                        <label class="font-weight-normal">
                                            <input type="radio" class="" name="exencion_caba" id="exencion_caba_exento" {:exencion_caba_exento:} value="0" required="" data-parsley-multiple="exencion_caba">
                                            Exento
                                        </label>
                                        <label class="ml-4 font-weight-normal">
                                            <input type="radio" class="" name="exencion_caba" id="exencion_caba_noexento" {:exencion_caba_noexento:} value="1"  required="" data-parsley-multiple="exencion_caba">
                                            No Exento
                                        </label> 
                                        <label class="ml-4 font-weight-normal">
                                            <input name="exencion_caba_porcentaje" type="text" class="form-control form-control-lg w-50 d-inline-block" value="{:exencion_caba_porcentaje:}"> % 
                                        </label>
                                    </div>
                                </div>
            
                                <div class="form-group row align-items-center my-4">
                                    <label class="col-md-3 control-label text-left text-md-right" for="exencion_iibb_bsas">Exención IIBB BsAs:</label>
                                    <div class="col-lg-6 col-md-9">
                                        <label class="font-weight-normal">
                                            <input type="radio" class="" name="exencion_iibb_bsas" id="exencion_iibb_bsas_exento" value="0" {:exencion_iibb_bsas_exento:} required="" data-parsley-multiple="exencion_iibb_bsas">
                                            Exento
                                        </label>
                                        <label class="ml-4 font-weight-normal">
                                            <input type="radio" class="" name="exencion_iibb_bsas" id="exencion_iibb_bsas_noexento" value="1" {:exencion_iibb_bsas_noexento:} required="" data-parsley-multiple="exencion_iibb_bsas">
                                            No Exento
                                        </label> 
                                        <label class="ml-4 font-weight-normal">
                                            <input name="exencion_iibb_bsas_porcentaje" type="text" class="form-control form-control-lg w-50 d-inline-block" value="{:exencion_iibb_bsas_porcentaje:}"> % 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group row">
                                    <div class="col-md-9 text-right">
                                        <input type="hidden" name="id" id="id" value="{:id:}" />
                                        <button class="btn btn-primary btn-lg" type="submit" id="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>
                            
                        </form>    
					</div>
				</div>
			</div>

			
		</div>

	</div>